# Caso aplicado - Parque automotor particular del departamento de Boyacá
---

Parque automotor activo de servicio particular matriculado en las sedes de tránsito del Departamento de Boyacá, actualizado a vigencia 2024

### Datos obtenidos de Datos Abiertos (datos.gov.co)
- [Link de acceso a metadatos](https://www.datos.gov.co/Transporte/PARQUE-AUTOMOTOR-ACTIVO-DE-SERVICIO-PARTICULAR-DEP/em3d-hmim/about_data)

In [1]:
import pandas as pd
import numpy as np

# Carga de datos
data = pd.read_csv('parque_automotor.csv')
df = data.copy()
df.head()

C:\Users\JUANC\AppData\Local\Temp\ipykernel_192\3971235126.py:5: DtypeWarning: Columns (12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('parque_automotor.csv')

,N,MOTIVO INGRESO,COD DANE,DANE MUN.,PROVINCIA,MUNICIPIO,CLASE,MARCA,LINEA,MODELO,CARROCERIA,PASAJEROS,TONELAJE,CILINDRAJE,SERVICIO,ESTADO,BLINDAJE,IMPORTADO
0,1,NaN,15,15204,BOYACA,COMBITA,MOTOCICLETA,YAMAHA,DT 175 E,1977,TURISMO,2.0,0.0,175,PARTICULAR,ACTIVO,NO,NO
1,2,MATRICULA INICIAL,15,15759,BOYACA,SOGAMOSO,CAMIONETA,MAZDA,CX-5 IMP AT 4X2 TOURING,2020,WAGON,5.0,0.0,2488,PARTICULAR,ACTIVO,NO,NO
2,3,MATRICULA INICIAL,15,15204,BOYACA,COMBITA,CAMIONETA,TOYOTA,C.A.D.C - HILUX 4X4 DOBLE CABI,2020,DOBLE CABINA,5.0,0.0,2393,PARTICULAR,ACTIVO,NO,NO
3,4,RADICACIÓN DE CUENTA,15,15238,BOYACA,DUITAMA,AUTOMOVIL,RENAULT,SYMBOL AUTEHENTIQUE,2005,SEDAN,5.0,0.0,1400,PARTICULAR,ACTIVO,NO,NO
4,5,MATRICULA INICIAL,15,15204,BOYACA,COMBITA,MOTOCICLETA,VICTORY,MOTOCICLETA-SWITCH 150C,2022,SPORT,2.0,0.0,149,PARTICULAR,ACTIVO,NO,NO

### 1. Cuantos registros y columnas tiene el conjunto de datos?

In [2]:
df.shape

(182379, 18)

### 2. Que tipos de datos tiene el conjunto de datos, y cuantos valores no-nulos tiene?

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182379 entries, 0 to 182378
Data columns (total 18 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   N               182379 non-null  int64
 1   MOTIVO INGRESO  156981 non-null  object
 2   COD DANE        182379 non-null  int64
 3   DANE MUN.       182379 non-null  int64
 4   PROVINCIA       182379 non-null  object
 5   MUNICIPIO       182379 non-null  object
 6   CLASE           182368 non-null  object
 7   MARCA           182366 non-null  object
 8   LINEA           179141 non-null  object
 9   MODELO          182331 non-null  object
 10  CARROCERIA      169376 non-null  object
 11  PASAJEROS       182228 non-null  float64
 12  TONELAJE        177751 non-null  object
 13  CILINDRAJE      182286 non-null  object
 14  SERVICIO        182366 non-null  object
 15  ESTADO          182379 non-null  object
 16  BLINDAJE        182379 non-null  object
 17  IMPORTADO       182379 non-null  object
dtypes: float64(1), int64(3), object(14)
memory usage: 25.0+ MB

### 3. La variable tonelaje parace tener datos nulos. Reemplazalos por 0 y convierte la columna en formato float. En caso de error, fuerza la columna a convertir todos sus valores en formato numerico (errors = 'coerce'), y reemplaza los nulos por cero.

In [4]:
df["TONELAJE"].dtype

dtype('O')

In [5]:
df['TONELAJE'] = df['TONELAJE'].replace('NA', 0).astype(float)

ValueError: could not convert string to float: '0EA4F2671887'

In [6]:
df['TONELAJE'] = pd.to_numeric(df['TONELAJE'], errors='coerce')

In [7]:
df["TONELAJE"] = df["TONELAJE"].fillna(0)

### 4. Con el fin de evitar discrepancias en el futuro, se hace necesario que al igual que la variable TONELAJE, las variables MODELO, CILINDRAJE y PASAJEROS cumplan con la condicion de ser numericas, y además reemplazar sus valores nulos por la media. Realiza una función con el fin de agilizar ese proceso.

In [8]:
def limpiar_columnas_numericas(df, columnas):
    """
    Funcion para convertir columnas a numéricas y reemplazar valores nulos con la media
    
    Parámetros:
        df: DataFrame de pandas
        columnas: Lista de nombres de columnas a limpiar
    
    Retorna:
        DataFrame con las columnas limpiadas
    """
    for columna in columnas:
        # Convertir a numérico (los no numéricos se convierten en NaN)
        df[columna] = pd.to_numeric(df[columna], errors='coerce')
        
        # Calcular la media y reemplazar NaN
        media = df[columna].mean()
        df[columna].fillna(media, inplace=True)
    
    return df

In [9]:
df = limpiar_columnas_numericas(df, ["CILINDRAJE", "PASAJEROS", "MODELO"])
df

C:\Users\JUANC\AppData\Local\Temp\ipykernel_192\106583294.py:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[columna].fillna(media, inplace=True)

,N,MOTIVO INGRESO,COD DANE,DANE MUN.,PROVINCIA,MUNICIPIO,CLASE,MARCA,LINEA,MODELO,CARROCERIA,PASAJEROS,TONELAJE,CILINDRAJE,SERVICIO,ESTADO,BLINDAJE,IMPORTADO
0,1,NaN,15,15204,BOYACA,COMBITA,MOTOCICLETA,YAMAHA,DT 175 E,1977.0,TURISMO,2.0,0.0,175.0,PARTICULAR,ACTIVO,NO,NO
1,2,MATRICULA INICIAL,15,15759,BOYACA,SOGAMOSO,CAMIONETA,MAZDA,CX-5 IMP AT 4X2 TOURING,2020.0,WAGON,5.0,0.0,2488.0,PARTICULAR,ACTIVO,NO,NO
2,3,MATRICULA INICIAL,15,15204,BOYACA,COMBITA,CAMIONETA,TOYOTA,C.A.D.C - HILUX 4X4 DOBLE CABI,2020.0,DOBLE CABINA,5.0,0.0,2393.0,PARTICULAR,ACTIVO,NO,NO
3,4,RADICACIÓN DE CUENTA,15,15238,BOYACA,DUITAMA,AUTOMOVIL,RENAULT,SYMBOL AUTEHENTIQUE,2005.0,SEDAN,5.0,0.0,1400.0,PARTICULAR,ACTIVO,NO,NO
4,5,MATRICULA INICIAL,15,15204,BOYACA,COMBITA,MOTOCICLETA,VICTORY,MOTOCICLETA-SWITCH 150C,2022.0,SPORT,2.0,0.0,149.0,PARTICULAR,ACTIVO,NO,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182374,182375,RADICACIÓN DE CUENTA,15,15516,BOYACA,PAIPA,AUTOMOVIL,RENAULT,SANDERO AUTHENTIQUE MT,2015.0,HATCH BACK,5.0,0.0,1598.0,PARTICULAR,ACTIVO,NO,NO
182375,182376,RADICACIÓN DE CUENTA,15,15759,BOYACA,SOGAMOSO,CAMIONETA,LAND ROVER,RANGE ROVER EVOQUE SE,2015.0,CABINADO,5.0,0.0,1999.0,PARTICULAR,ACTIVO,NO,NO
182376,182377,RADICACIÓN DE CUENTA,15,15516,BOYACA,PAIPA,CAMIONETA,CHEVROLET,TRACKER LS AT,2015.0,WAGON,5.0,0.0,1796.0,PARTICULAR,ACTIVO,NO,NO
182377,182378,RADICACIÓN DE CUENTA,15,15238,BOYACA,DUITAMA,AUTOMOVIL,AUDI,Q3 2.0 TFSI LUXURY,2015.0,WAGON,5.0,0.0,1984.0,PARTICULAR,ACTIVO,NO,NO
182378,182379,MATRICULA INICIAL,15,15001,BOYACA,TUNJA,AUTOMOVIL,CHEVROLET,LINEA DE PRUEBA,2022.0,NaN,5.0,0.0,10.0,PARTICULAR,ACTIVO,NO,NO

### 5. Imprime un cuadro con el detalle de estadísticas generales como media, mediana, mínimo, máximo; para las variables cuantitativas del conjunto de datos.

In [13]:
pd.set_option('display.float_format', '{:.2f}'.format)
df[["MODELO", "PASAJEROS", "CILINDRAJE", "TONELAJE"]].describe()

         MODELO  PASAJEROS  CILINDRAJE   TONELAJE
count 182379.00  182379.00   182379.00  182379.00
mean    2004.93       4.08     1928.58      35.94
std       19.00      20.66   193875.10   10490.54
min        1.00       0.00        0.00       0.00
25%     1995.00       2.00      185.00       0.00
50%     2011.00       5.00     1400.00       0.00
75%     2018.00       5.00     1800.00       0.00
max     2025.00    5998.00 79541698.00 4021650.00

### 6. Cuales son los 5 municipios con mayor cantidad de vehiculos matriculados?

In [ ]:
df.value_counts('MUNICIPIO')

MUNICIPIO
COMBITA                  34028
TUNJA                    30362
SOGAMOSO                 21944
DUITAMA                  20172
NOBSA                    14136
PAIPA                    13000
SANTA ROSA DE VITERBO    11766
CHIQUINQUIRA              7639
MONIQUIRA                 5072
PUERTO BOYACA             4881
VILLA DE LEYVA            4794
SABOYA                    3991
GUATEQUE                  3432
SOATA                     2564
GARAGOA                   1758
RAMIRIQUI                 1695
MIRAFLORES                1140
AQUITANIA                    4
BOYACA                       1
Name: count, dtype: int64

In [15]:
df["MUNICIPIO"].value_counts().head()

MUNICIPIO
COMBITA     34028
TUNJA       30362
SOGAMOSO    21944
DUITAMA     20172
NOBSA       14136
Name: count, dtype: int64

### 7. Agrupa las marcas por el promedio de cilindraje e identifica el top 10

In [21]:
cilindraje_marca = df.groupby('MARCA')['CILINDRAJE'].mean().sort_values(ascending=False)
cilindraje_marca.head(10)

MARCA
AUTOCAR        14500.00
SHACMAN        13000.00
KENWORTH        8375.00
MAN             8300.00
LORAIN          8195.00
FREIGHTLINER    7321.50
STERLING        6370.00
DINA            6362.00
PH              5000.00
HINO            4885.60
Name: CILINDRAJE, dtype: float64

### 8. Cual es la marca más común en cada municipio?

In [22]:
marca_comun_por_municipio = df.groupby('MUNICIPIO')['MARCA'].agg(lambda x: x.mode()[0])
marca_comun_por_municipio

MUNICIPIO
AQUITANIA                CHEVROLET
BOYACA                       BAJAJ
CHIQUINQUIRA                YAMAHA
COMBITA                    RENAULT
DUITAMA                  CHEVROLET
GARAGOA                      BAJAJ
GUATEQUE                    TOYOTA
MIRAFLORES                  SUZUKI
MONIQUIRA                CHEVROLET
NOBSA                    CHEVROLET
PAIPA                    CHEVROLET
PUERTO BOYACA               YAMAHA
RAMIRIQUI                CHEVROLET
SABOYA                      TOYOTA
SANTA ROSA DE VITERBO      RENAULT
SOATA                       YAMAHA
SOGAMOSO                   RENAULT
TUNJA                    CHEVROLET
VILLA DE LEYVA           CHEVROLET
Name: MARCA, dtype: object

### 9. Crea una columna calculada para conocer la antiguedad de cada vehiculo (pista: usa la libreria datetime).

In [26]:
from datetime import datetime
df["ANTIGUEDAD"] = datetime.now().year - df["MODELO"]
df.head()

,N,MOTIVO INGRESO,COD DANE,DANE MUN.,PROVINCIA,MUNICIPIO,CLASE,MARCA,LINEA,MODELO,CARROCERIA,PASAJEROS,TONELAJE,CILINDRAJE,SERVICIO,ESTADO,BLINDAJE,IMPORTADO,ANTIGUEDAD
0,1,NaN,15,15204,BOYACA,COMBITA,MOTOCICLETA,YAMAHA,DT 175 E,1977.00,TURISMO,2.00,0.00,175.00,PARTICULAR,ACTIVO,NO,NO,48.00
1,2,MATRICULA INICIAL,15,15759,BOYACA,SOGAMOSO,CAMIONETA,MAZDA,CX-5 IMP AT 4X2 TOURING,2020.00,WAGON,5.00,0.00,2488.00,PARTICULAR,ACTIVO,NO,NO,5.00
2,3,MATRICULA INICIAL,15,15204,BOYACA,COMBITA,CAMIONETA,TOYOTA,C.A.D.C - HILUX 4X4 DOBLE CABI,2020.00,DOBLE CABINA,5.00,0.00,2393.00,PARTICULAR,ACTIVO,NO,NO,5.00
3,4,RADICACIÓN DE CUENTA,15,15238,BOYACA,DUITAMA,AUTOMOVIL,RENAULT,SYMBOL AUTEHENTIQUE,2005.00,SEDAN,5.00,0.00,1400.00,PARTICULAR,ACTIVO,NO,NO,20.00
4,5,MATRICULA INICIAL,15,15204,BOYACA,COMBITA,MOTOCICLETA,VICTORY,MOTOCICLETA-SWITCH 150C,2022.00,SPORT,2.00,0.00,149.00,PARTICULAR,ACTIVO,NO,NO,3.00

### 10. Convierte la columna CILINDRAJE a un array de Numpy, y calcula su media, mediana y desviación estándar.

In [31]:
cilindraje_np = df["CILINDRAJE"].array

print(np.mean(cilindraje_np))
print(np.median(cilindraje_np))
print(np.std(cilindraje_np))

1928.5816018322953
1400.0
193874.56515267637

<NumpyExtensionArray>
[ 175.0, 2488.0, 2393.0, 1400.0,  149.0, 1998.0, 1500.0, 1598.0, 1998.0,
  197.0,
 ...
 2000.0, 1598.0, 1598.0, 1598.0, 1599.0, 1598.0, 1999.0, 1796.0, 1984.0,
   10.0]
Length: 182379, dtype: float64

### 11. Calcula los percentiles 30, 60 y 90 del Array anterior, e interpreta los resultados.

In [35]:
percentile = np.percentile(cilindraje_np, [30, 60, 90])
percentile

array([ 200., 1586., 2500.])

### 12. Por medio de una agrupación, obtener para cada MARCA las siguientes agregaciones de la variable CILINDRAJE: media, mediana, desviación estándar y recuento.

In [39]:
cilindraje = df.groupby('MARCA')["CILINDRAJE"].agg(["mean", "median", "std", "count"]).sort_values("std", ascending=False)
cilindraje.head()

                   mean     median          std  count
MARCA
CHEVROLET    3995.81964 1400.00000 431894.87594  33917
SUZUKI       3091.51285  185.00000 231173.40064   9230
NISSAN       2841.14233 2400.00000  45482.38385   8692
MAZDA        2342.43652 1998.00000  45463.92886   8270
FREIGHTLINER 7321.50000 9535.00000   6482.52601      8

### 13. Realiza una tabla dinamica (pivot table) donde se relacionen cuantos vehiculos se tienen por MUNICIPIO y CLASE.

In [41]:
pivot_tab = pd.pivot_table(df, index = "MUNICIPIO", columns = "CLASE", values = 'N', aggfunc='count', fill_value=0)
pivot_tab

CLASE,AMBULANCIA,AUTOMOVIL,BUS,BUSETA,CAMION,CAMION D.TROQUE,CAMIONETA,CAMPERO,CUATRIMOTO,GRUA,MAQ. AGRICOLA,MICRO BUS,MINI BUS,MOTO TRACTOR,MOTOCARRO,MOTOCICLETA,MOTOTRICICLO,TRACTO-CAMION,VAN,VOLQUETA
MUNICIPIO,,,,,,,,,,,,,,,,,,,,
AQUITANIA,0,1,0,0,0,0,2,0,0,0,0,0,0,0,0,1,0,0,0,0
BOYACA,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
CHIQUINQUIRA,0,1098,2,3,103,0,533,678,0,0,0,2,0,0,195,4993,0,2,0,30
COMBITA,4,10628,41,24,1053,0,6746,3384,0,1,0,58,0,1,268,11179,3,10,0,628
DUITAMA,6,11518,10,8,215,0,4553,1653,1,2,0,49,0,0,31,2047,1,5,1,72
GARAGOA,0,297,0,1,13,0,253,288,2,0,0,3,0,0,21,873,0,0,0,7
GUATEQUE,1,476,15,6,135,0,632,1100,2,0,1,3,0,0,21,963,0,2,0,75
MIRAFLORES,1,139,0,1,12,0,170,205,0,0,0,1,0,0,11,595,1,0,0,4
MONIQUIRA,1,1080,2,3,111,0,1261,1041,0,0,0,9,1,0,46,1462,1,1,2,51
NOBSA,1,4761,12,15,312,0,1839,1380,0,0,0,17,0,1,3,5530,1,10,0,254
PAIPA,1,5548,6,7,93,0,2163,849,5,0,0,15,0,0,33,4227,0,1,0,52
PUERTO BOYACA,2,59,0,0,19,0,112,52,3,0,0,1,0,0,151,4474,0,0,0,8
RAMIRIQUI,0,526,3,2,42,0,584,210,0,0,0,4,0,0,3,307,0,1,1,12
SABOYA,1,713,21,2,253,0,771,1000,0,0,0,7,0,0,19,1124,1,0,0,79
SANTA ROSA DE VITERBO,6,4773,9,5,455,2,2221,1394,0,2,0,10,0,0,3,2672,0,3,0,211
SOATA,1,510,31,15,69,0,405,316,0,0,0,17,0,0,79,1103,0,0,0,18
SOGAMOSO,9,10171,3,7,221,0,3794,1669,3,4,0,32,0,0,70,5811,2,6,1,141
TUNJA,6,15969,25,21,315,0,6821,3543,0,3,0,46,0,1,23,3396,4,4,0,174
VILLA DE LEYVA,3,1468,2,0,55,0,1600,743,2,0,0,13,0,0,48,826,8,0,0,26

### 14. Realiza un análisis de las primeras 5 marcas únicas del DataFrame, mostrando la cantidad de vehículos, el año promedio y el cilindraje promedio de cada una a través de un bucle for.

### 15. Clasifica los vehículos según su antigüedad en "Nuevo" si es menor a 5 años, "Semi-nuevo" si es menor a 10 años o "Viejo" si es mayor a 10 años, todo esto usando la función de pandas ```apply``` con una función personalizada y muestra el conteo de cada categoría.

**¿Qué es ```apply()``` en Pandas?**

```apply()``` es un método de Pandas que permite aplicar una función a lo largo de filas o columnas de un DataFrame.

- axis=0 → Aplica la función a cada columna (operación por columnas).

- axis=1 → Aplica la función a cada fila (operación por filas).

```python
import pandas as pd

df = pd.DataFrame({'Nombre': ['Ana', 'Luis', 'Carlos'], 'Edad': [25, 30, 22]})

# Función que clasifica según la edad
def clasificar_edad(row):
    return 'Joven' if row['Edad'] < 30 else 'Adulto'

df['Categoria'] = df.apply(clasificar_edad, axis=1)

################### Resultado #################

   Nombre  Edad Categoria
0    Ana    25    Joven
1   Luis    30   Adulto
2 Carlos    22    Joven

In [43]:
def clasificar_antiguedad(row):
    if row['ANTIGUEDAD'] < 5:
        return 'Nuevo'
    elif row['ANTIGUEDAD'] < 10:
        return 'Semi-nuevo'
    
    else:
        return 'Viejo'

df['CLASIFICACION_ANTIGUEDAD'] = df.apply(clasificar_antiguedad, axis=1)

print("\nClasificación por antigüedad:")
print(df['CLASIFICACION_ANTIGUEDAD'].value_counts())

Clasificación por antigüedad:
CLASIFICACION_ANTIGUEDAD
Viejo         124136
Semi-nuevo     29212
Nuevo          29031
Name: count, dtype: int64

In [44]:
df.head()

,N,MOTIVO INGRESO,COD DANE,DANE MUN.,PROVINCIA,MUNICIPIO,CLASE,MARCA,LINEA,MODELO,CARROCERIA,PASAJEROS,TONELAJE,CILINDRAJE,SERVICIO,ESTADO,BLINDAJE,IMPORTADO,ANTIGUEDAD,CLASIFICACION_ANTIGUEDAD
0,1,NaN,15,15204,BOYACA,COMBITA,MOTOCICLETA,YAMAHA,DT 175 E,1977.00000,TURISMO,2.00000,0.00000,175.00000,PARTICULAR,ACTIVO,NO,NO,48.00000,Viejo
1,2,MATRICULA INICIAL,15,15759,BOYACA,SOGAMOSO,CAMIONETA,MAZDA,CX-5 IMP AT 4X2 TOURING,2020.00000,WAGON,5.00000,0.00000,2488.00000,PARTICULAR,ACTIVO,NO,NO,5.00000,Semi-nuevo
2,3,MATRICULA INICIAL,15,15204,BOYACA,COMBITA,CAMIONETA,TOYOTA,C.A.D.C - HILUX 4X4 DOBLE CABI,2020.00000,DOBLE CABINA,5.00000,0.00000,2393.00000,PARTICULAR,ACTIVO,NO,NO,5.00000,Semi-nuevo
3,4,RADICACIÓN DE CUENTA,15,15238,BOYACA,DUITAMA,AUTOMOVIL,RENAULT,SYMBOL AUTEHENTIQUE,2005.00000,SEDAN,5.00000,0.00000,1400.00000,PARTICULAR,ACTIVO,NO,NO,20.00000,Viejo
4,5,MATRICULA INICIAL,15,15204,BOYACA,COMBITA,MOTOCICLETA,VICTORY,MOTOCICLETA-SWITCH 150C,2022.00000,SPORT,2.00000,0.00000,149.00000,PARTICULAR,ACTIVO,NO,NO,3.00000,Nuevo

**¿Qué es lambda en Python?**
lambda es una forma de definir funciones anónimas, es decir, funciones sin nombre que puedes usar rápidamente dentro de una sola línea de código.

```python
def cuadrado(x):
    return x ** 2

print(cuadrado(4))  # Salida: 16

# Usando lambda:

cuadrado = lambda x: x ** 2
print(cuadrado(4))  # Salida: 16

# Otro ejemplo
multiplicar = lambda a, b: a * b
print(multiplicar(3, 5))  # Salida: 15

# Otro más:
df = pd.DataFrame({'Edad': [15, 22, 35, 40]})

df['Categoria'] = df['Edad'].apply(lambda x: "Joven" if x < 30 else "Adulto")
print(df)

In [ ]:
def clasificar_valor(row, columna):
    if row[columna] < 5:
        return 'Nuevo'
    elif row[columna] < 10:
        return 'Semi-nuevo'
    else:
        return 'Viejo'

df['CLASIFICACION_ANTIGÜEDAD'] = df.apply(lambda row: clasificar_valor(row, 'ANTIGÜEDAD'), axis=1)
print("\nClasificación por antigüedad:")
print(df['CLASIFICACION_ANTIGÜEDAD'].value_counts())

Clasificación por antigüedad:
CLASIFICACION_ANTIGÜEDAD
Viejo         124136
Semi-nuevo     29212
Nuevo          29031
Name: count, dtype: int64

In [45]:
df["CLASIFICACION_ANTIGUEDAD_2"] = df["ANTIGUEDAD"].apply(lambda x: "NUEVO" if x < 5 else "Semi-nuevo")
df

,N,MOTIVO INGRESO,COD DANE,DANE MUN.,PROVINCIA,MUNICIPIO,CLASE,MARCA,LINEA,MODELO,...,PASAJEROS,TONELAJE,CILINDRAJE,SERVICIO,ESTADO,BLINDAJE,IMPORTADO,ANTIGUEDAD,CLASIFICACION_ANTIGUEDAD,CLASIFICACION_ANTIGUEDAD_2
0,1,NaN,15,15204,BOYACA,COMBITA,MOTOCICLETA,YAMAHA,DT 175 E,1977.00000,...,2.00000,0.00000,175.00000,PARTICULAR,ACTIVO,NO,NO,48.00000,Viejo,Semi-nuevo
1,2,MATRICULA INICIAL,15,15759,BOYACA,SOGAMOSO,CAMIONETA,MAZDA,CX-5 IMP AT 4X2 TOURING,2020.00000,...,5.00000,0.00000,2488.00000,PARTICULAR,ACTIVO,NO,NO,5.00000,Semi-nuevo,Semi-nuevo
2,3,MATRICULA INICIAL,15,15204,BOYACA,COMBITA,CAMIONETA,TOYOTA,C.A.D.C - HILUX 4X4 DOBLE CABI,2020.00000,...,5.00000,0.00000,2393.00000,PARTICULAR,ACTIVO,NO,NO,5.00000,Semi-nuevo,Semi-nuevo
3,4,RADICACIÓN DE CUENTA,15,15238,BOYACA,DUITAMA,AUTOMOVIL,RENAULT,SYMBOL AUTEHENTIQUE,2005.00000,...,5.00000,0.00000,1400.00000,PARTICULAR,ACTIVO,NO,NO,20.00000,Viejo,Semi-nuevo
4,5,MATRICULA INICIAL,15,15204,BOYACA,COMBITA,MOTOCICLETA,VICTORY,MOTOCICLETA-SWITCH 150C,2022.00000,...,2.00000,0.00000,149.00000,PARTICULAR,ACTIVO,NO,NO,3.00000,Nuevo,NUEVO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182374,182375,RADICACIÓN DE CUENTA,15,15516,BOYACA,PAIPA,AUTOMOVIL,RENAULT,SANDERO AUTHENTIQUE MT,2015.00000,...,5.00000,0.00000,1598.00000,PARTICULAR,ACTIVO,NO,NO,10.00000,Viejo,Semi-nuevo
182375,182376,RADICACIÓN DE CUENTA,15,15759,BOYACA,SOGAMOSO,CAMIONETA,LAND ROVER,RANGE ROVER EVOQUE SE,2015.00000,...,5.00000,0.00000,1999.00000,PARTICULAR,ACTIVO,NO,NO,10.00000,Viejo,Semi-nuevo
182376,182377,RADICACIÓN DE CUENTA,15,15516,BOYACA,PAIPA,CAMIONETA,CHEVROLET,TRACKER LS AT,2015.00000,...,5.00000,0.00000,1796.00000,PARTICULAR,ACTIVO,NO,NO,10.00000,Viejo,Semi-nuevo
182377,182378,RADICACIÓN DE CUENTA,15,15238,BOYACA,DUITAMA,AUTOMOVIL,AUDI,Q3 2.0 TFSI LUXURY,2015.00000,...,5.00000,0.00000,1984.00000,PARTICULAR,ACTIVO,NO,NO,10.00000,Viejo,Semi-nuevo
182378,182379,MATRICULA INICIAL,15,15001,BOYACA,TUNJA,AUTOMOVIL,CHEVROLET,LINEA DE PRUEBA,2022.00000,...,5.00000,0.00000,10.00000,PARTICULAR,ACTIVO,NO,NO,3.00000,Nuevo,NUEVO

### 16. Modifica la columna CILINDRAJE reduciéndola en un 20% solo para los vehículos de la clase "MOTOCICLETA". Compara el tiempo de ejecución entre el uso de ```apply()``` con ```lambda``` y el método vectorizado con ```np.where()```, utilizando %timeit.``

**```np.where()``` es una función de NumPy que actúa como un "si condicional" vectorizado. Sirve para seleccionar valores basados en una condición, de manera mucho más rápida que ```apply()```.**

**Estructura:**

```python
np.where(condición, valor_si_True, valor_si_False)

# Ejemplo:
edades = np.array([15, 22, 30, 18, 25])
mayores_de_18 = np.where(edades >= 18, "Adulto", "Menor")

print(mayores_de_18)

In [ ]:
# Método con apply (más lento)
%timeit df.apply(lambda row: row['CILINDRAJE'] * 0.8 if row['CLASE'] == 'MOTOCICLETA' else row['CILINDRAJE'], axis=1)

# Método vectorizado (más rápido)
%timeit np.where(df['CLASE'] == 'MOTOCICLETA', df['CILINDRAJE'] * 0.8, df['CILINDRAJE'])

874 ms ± 6.42 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
9.92 ms ± 146 μs per loop (mean ± std. dev. of 7 runs, 100 loops each)